!!!
%html 
  %head
    %title= "nyruby"
    %link{:rel => "stylesheet", :href => "/screen.css"}
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
  %body
    %h1 nyruby
    %p
      :erb
        <iframe width="700" height="700" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;t=p&amp;ll=43.245203,-76.179199&amp;spn=5.601667,7.69043&amp;z=7&amp;output=embed"></iframe>
